<nav id="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/users">Utilisateurs</a></li>
        <li><a href="/themes">Thèmes</a></li>
        <li><a href="/examinations">Examens</a></li>
    </ul>
    <ul>
        <li><button class="logoutBtn">Déconnexion</button></li>
    </ul>
</nav>
<script type="module" src="js/navbar.js"></script>