@import url('../styles.css');
@import url('../partials/navbar.css');
@import url('../partials/footer.css');

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	max-width: 64rem;
	display: flex;
	flex-direction: column;
	margin: 1.2rem;
	border: solid .5px var(--color-green);
	border-radius: .4rem;
	box-shadow: .4rem .4rem .8rem #29292933;
}
form h1 {
	padding: .8rem;
	text-align: center;
	color: var(--color-white);
	background-color: var(--color-green);
}
.form-row {
	display: flex;
}

.input-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: .8rem;
}
.input-box label {
	color: var(--color-green);
	margin-bottom: .4rem;
}
.input-box input,
.input-box select {
	background-color: var(--color-white);
	border: solid .5px #c4c4c4;
	border-radius: .4rem;
	padding: .8rem;
}

.btn-box {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	padding: .8rem;
}
.btn-box input[type="submit"] {
	border-radius: .4rem;
	margin-top: 1.6rem;
	padding: .8rem 1.6rem;
	margin: .8rem;
	width: fit-content;
}
.update-btn{
	background-color: var(--color-green);
	color: var(--color-white);
	border: none;
}
.update-btn:hover {
	background-color: var(--color-green-hover);
}

.cancel-btn {
	border: solid 2px var(--color-green);
	color: var(--color-green);
}
.cancel-btn:hover {
	border: solid 2px var(--color-green-hover);
	color: var(--color-green-hover);
}