@import url('../styles.css');
@import url('../partials/navbar.css');
@import url('../partials/footer.css');

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#users-section {
	margin: .8rem;
	max-width: 120rem;
}

/* Insert button */
#insert-user-btn {
	display: flex;
	align-items: center;
	margin: .8rem 1.2rem;
	padding: .8rem 1.2rem;
	color: var(--color-white);
	border: none;
	border-radius: .4rem;
	background-color: var(--color-green);
}
#insert-user-btn:hover {
	background-color : var(--color-green-hover);
}
#insert-user-btn img {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .8rem;
	object-fit: contain;
}

/* details button */
#details-user-btn {
	display: flex;
	align-items: center;
	border: none;
	border-radius: .4rem;
	margin: .8rem;
	min-width: 3.2rem;
	background-image: url('/img/sheet.svg');
	background-position: center;
	background-size: 2.4rem;
	background-repeat: no-repeat;
	filter: brightness(.6);
	transition: filter .1s ease-out;
}
#details-user-btn:hover {
	filter: brightness(.75);
}

/* Overlay */
.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: calc(var(--navbar-size) * 4);
	bottom: 0;
	z-index: 99;
}
.overlay-bg{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #29292988;
	backdrop-filter: blur(8px);
}
.overlay-box{
	position: absolute;
	display: flex;
}

/* Page content */
#users-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.users-panel {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 10rem;
}

/* Overlay boxes */
.container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button.overlay-closer {
	width: 2.4rem;
	height: 2.4rem;
	border: none;
	background-image: url('/img/plus.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(45deg);
}

.insert-user,
.edit-user,
.delete-user {
	display: flex;
	flex-direction: column;
	max-width: 48rem;
	border-radius: .8rem;
	box-shadow: .4rem .4rem .8rem #29292933;
	overflow: hidden;
}
.overlay-box .container-header {
	padding: .8rem 1.2rem;
}
.overlay-box .container-header h1 {
	text-align: center;
	color: var(--color-white);
}

/* Specific design for insert-user */
.insert-user .container-header,
.insert-user input[type="submit"] {
	background-color: var(--color-green);
}
.insert-user input[type="submit"]:hover {
	background-color: var(--color-green-hover);
}
.insert-user .input-box label {
	color: var(--color-green);
}

/* Specific design for edit-user */
.edit-user .container-header,
.edit-user input[type="submit"] {
	background-color: var(--color-blue);
}
.edit-user input[type="submit"]:hover {
	background-color: var(--color-blue-hover);
}
.edit-user .input-box label {
	color: var(--color-blue);
}

/* Specific design for delete-user */
.delete-user .delete-btn-box {
	justify-content: flex-end;
}
.delete-user .delete-btn-box .input-box {
	flex-grow: inherit;
}
.delete-user .cancel-delete-btn {
	color: var(--color-red);
	background-color: transparent;
	border: none;
}
.delete-user .cancel-delete-btn:hover {
	color: var(--color-white);
	border: none;
	background-color: var(--color-red-hover);
}
.delete-user .delete-query {
	padding: .8rem 1.2rem;
	color: var(--color-red);
}
.delete-user .container-header,
.delete-user .delete-btn {
	color: var(--color-white);
	background-color: var(--color-red);
	border: none;
}
.delete-user .delete-btn:hover {
	background-color: var(--color-red-hover);
}

.insert-user form {
	display: flex;
	flex-direction: column;
}
.container-body {
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	padding: .8rem;
}

.form-row {
	display: flex;
	width: 100%;
}
.input-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: .8rem;
}
.input-box label {
	margin-bottom: .4rem;
	width: max-content;
}
.input-box input,
.input-box select {
	display: flex;
	color: var(--color-black);
	background-color: var(--color-white);
	border: solid .5px #c4c4c4;
	border-radius: .4rem;
	padding: .8rem;
}
.input-box input {
	width: 100%;
}
.input-box select {
	transition: background-color .1s ease-out;
	cursor: pointer;
}
.input-box select:hover {
	background-color: #ededed;
}

.input-box input[type="submit"] {
	margin-top: 1.6rem;
	padding: .8rem 1.6rem;
	margin: auto;
	width: fit-content;
	transition: background-color .1s ease-out;
}
.insert-user input[type="submit"],
.edit-user input[type="submit"] {
	border: none;
	color: white;
}

.users-infos{
	display: flex;
	flex-direction: column;
	background-color: var(--color-white);
	margin: 1.2rem;
	border-radius: .8rem;
	box-shadow: .4rem .4rem .8rem #29292933;
	overflow: hidden;
}
.users-infos .container-header{
	display: flex;
	justify-content: space-between;
	padding: .8rem 1.2rem;
	background-color: var(--color-orange);
}
.users-infos h1{
	text-align: center;
	color: var(--color-white);
	margin-right: 2.4rem;
}
.info-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.info-container .infos-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .8rem .4rem;
}

.info-container .infos-row p,
.info-container .infos-row span {
	color: var(--color-orange);
	padding: .8rem;
}
.info-container .infos-row hr {
	background-color: none;
	border: solid .8rem none dotted;
	border-style: none none dotted;
	color: var(--color-orange);
	/* border-radius: 99rem; */
	display: flex;
	flex-grow: 1;
}

.line-row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.filter-params {
	display: flex;
	padding: .8rem;
	width: 100%;
	border-radius: .4rem;
	background-color: var(--color-blue);
	box-shadow: .4rem .4rem .8rem #29292933;
	color: var(--color-white);
}
@media screen and (max-width: 1140px) {
	.filter-params {
		flex-direction: column;
	}
}

/* Search section */
.search-box {
	display: flex;
	align-items: center;
	border: none;
	border-radius: .4rem;
	margin: 1.2rem;
	background-color: var(--color-white);
	color: var(--color-blue);
	overflow: hidden;
}
.search-box .search {
	display: flex;
	flex-grow: 1;
	padding: .8rem 1.2rem;
	border: none;
	outline: none;
}
.search-box img {
	height: 2.4rem;
	width: 2.4rem;
	opacity: .25;
	margin: 0 .8rem;
	object-fit: contain;
}

.order-select {
	margin: 1.2rem;
	padding: .8rem 1.2rem;
	border: none;
	border-radius: .4rem;
	cursor: pointer;
	background-color: var(--color-white);
	color: var(--color-blue);
}

.show-actives-box {
	display: flex;
	align-items: center;
	padding: .8rem;
}
.show-actives {
	width: 2.4rem;
	height: 2.4rem;
	margin-right: .8rem;
	/* appearance: none; */
	border: 0;
	border-radius: .4rem;
	cursor: pointer;
}
.show-actives:checked:after {
	background-color:green;
}

/* Quick bar */
.quick-nav {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	padding: .4rem;
}
@media screen and (max-width: 800px) {
	.quick-nav {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
}
.quick-nav a {
	display: flex;
	align-items: center;
	margin: .8rem;
	/* padding: .8rem 1.2rem; */
	/* border-radius: .4rem; */
	color: var(--color-blue);
	/* background-color: var(--color-white); */
	/* border: solid 1px var(--color-blue); */
	transition: background-color .1s ease-out;
}
.quick-nav a:hover {
	color: var(--color-blue-hover);
	text-decoration: underline;
	/* background-color: var(--color-blue); */
}
.quick-nav img {
	width: 1.4rem;
	height: 1.4rem;
	margin-right: .4rem;
	object-fit: contain;
}

#users-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1.6rem;
}

.role-box {
	width: 100%;
}
.role-header {
	background-color: var(--color-blue);
	color: var(--color-white);
	padding: .8rem;
	border-radius: .4rem;
}
.role-header h1 {
	padding: 0 .8rem;
}
.cards-box {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 1.6rem;
}
.card-container {
	display: flex;
	flex-basis: 33.333333%;
	padding: .8rem;
}
@media screen and (max-width: 1200px) {
	.card-container {
		flex-basis: 50%;
	}
}
@media screen and (max-width: 800px) {
	.card-container {
		flex-basis: 100%;
	}
}

.user-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: var(--color-black);
	width: 100%;
	padding: 1.2rem;
	border: solid 1px #c4c4c433;
	border-radius: .8rem;
	box-shadow: .4rem .4rem .8rem #29292933;
}
.user-card .user-box {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.user-card .user-box .user-contact {
	display: flex;
	flex-direction: column;
	margin: .8rem 0;
	color: #848484;
}
.user-card .btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: .8rem;
	padding: .8rem 0;
	width: 100%;
}

/* Rounded sliders */
.toggle-switch .switch {
    position: relative;
    display: inline-block;
	margin: 0 1.6rem;
    width: 4rem;
    height: 2.4rem;
}
.toggle-switch .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: .4rem;
    bottom: .4rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle-switch input:checked + .slider {
    background-color: var(--color-blue);
}

.toggle-switch input:focus + .slider {
    box-shadow: 0 0 .1rem var(--color-blue);
}

.toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(1.6rem);
    -ms-transform: translateX(1.6rem);
    transform: translateX(1.6rem);
}
.toggle-switch .slider.round {
    border-radius: 3.4rem;
}
  
.toggle-switch .slider.round:before {
    border-radius: 50%;
}

.user-card .btn-container button {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.4rem;
	width: 2.4rem;
	margin: 0 1.6rem;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	opacity: .3;
	border: none;
	transition: all .1s ease-out;
}
.user-card .btn-container button:hover {
	opacity: .5;
}

.user-card .btn-container button:active {
	animation: buttonClicked .1s ease-out;
}
@keyframes buttonClicked {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(.8);
	}
	100% {
		transform: scale(1);
	}
}

.user-card .btn-container .edit {
	background-image: url('/img/pen.svg');
}
.user-card .btn-container .destroy {
	background-image: url('/img/trash.svg');
}