@import url('../styles.css');
@import url('../partials/navbar.css');
@import url('../partials/footer.css');

.users-panel {
    display: flex;
    flex-direction: row;
}
form {
    background-color: var(--color-blue);
    border-radius: .4rem;
    margin: 1.2rem;
    padding: .8rem;
}
form h1 {
    margin: .8rem;
    text-align: center;
    color: var(--color-white);
}
.form-row {
    display: flex;
}
.input-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: .8rem;
}
.input-box label {
    color: var(--color-white);
    margin-bottom: .4rem;
}
.input-box input,
.input-box select {
    background-color: var(--color-white);
    border: none;
    border-radius: .4rem;
    padding: .8rem;
}
.input-box input[type="submit"]{
    margin-top: 1.6rem;
    width: fit-content;
}

.users-infos{
    display: flex;
    flex-direction: column;
    background-color: var(--color-blue);
    margin: 1.2rem;
    padding: .8rem;
    border-radius: .4rem;
    overflow: hidden;
}
.users-infos h1{
    margin: .8rem;
    text-align: center;
    color: var(--color-white);
}
.users-infos p{
    color: var(--color-white);
    padding: .8rem;
}

/* Quick bar */
.quick-nav {
    background-color: var(--color-orange);
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    margin: .8rem;
    padding: .8rem;
}
.quick-nav a {
    padding: 0 .4rem;
}

.role-box {
    margin: 1.2rem;
    border-radius: .4rem;
    overflow: hidden;
}
.role-header {
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: .8rem;
}
article {
    color: var(--color-black);
    padding: .8rem;
}
