<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Utilisateurs | QPC</title>
	<link rel="stylesheet" href="/css/pages/users-edit.css">
</head>
<body>
	<header>
		<%- include("../partials/navbar") %>
	</header>
	<main>
		<section id="form-section">
			<form>
				<div class="title-box">
					<h1>Modifier un utilisateur</h1>
				</div>
				<div class="form-row">
					<div class="input-box">
						<label for="username">Nom d'utilisateur</label>
						<input name="username" type="text">
					</div>
					<div class="input-box">
						<label for="role">Role</label>
						<select name="role">
							<option value="1">Admin</option>
							<option value="2">Gestionnaire</option>
							<option value="3">Formateur</option>
							<option value="4" selected>Stagiaire</option>
						</select>
					</div>
				</div>
				
				<div class="form-row">
					<div class="input-box">
						<label for="firstname">Prénom</label>
						<input name="firstname" type="text">
					</div>
					<div class="input-box">
						<label for="lastname">Nom de famille</label>
						<input name="lastname" type="text">
					</div>
				</div>
				
				<div class="form-row">
					<div class="input-box">
						<label for="email">Email</label>
						<input name="email" type="email">
					</div>
					<div class="input-box">
						<label for="phone">Téléphone</label>
						<input name="phone" type="tel">
					</div>
					<div class="input-box">
						<label for="password">Mot de passe</label>
						<input name="password" type="password">
					</div>
				</div>
				
				<div class="form-row">
					<div class="btn-box">
						<input type="submit" class="cancel-btn" value="Annuler">
						<input type="submit" class="update-btn" value="Modifier">
					</div>
				</div>
			</form>
		</section>
	</main>
	<footer></footer>
	<script type="module" src="/js/users-edit.js"></script>
</body>
</html>