<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Utilisateurs | QPC</title>
	<link rel="stylesheet" href="css/pages/users.css">
</head>
<body>
	<header>
		<%- include("../partials/navbar") %>
	</header>
	<main>
		<section id="message-overlay">
			<div class="message-panel">
			</div>
		</section>
		
		<section class="overlay">
			<div class="overlay-bg"></div>

			<!-- INSERT OVERLAY -->
			<div class="insert-overlay overlay-box">
				<div class="container-header">
					<h1>Ajouter un utilisateur</h1>
					<button class="overlay-closer"></button>
				</div>
				<form>
					<div class="container-body">
						<div class="form-row">
							<div class="input-box">
								<label for="username">Nom d'utilisateur</label>
								<input name="username" type="text" required>
							</div>
						</div>
						<div class="form-row">
							<div class="input-box">
								<label for="role">Role</label>
								<select name="role">
									<option value="1">Admin</option>
									<option value="2">Gestionnaire</option>
									<option value="3">Formateur</option>
									<option value="4" selected>Stagiaire</option>
								</select>
							</div>
						</div>
						
						<div class="form-row">
							<div class="input-box">
								<label for="firstname">Prénom</label>
								<input name="firstname" type="text" required>
							</div>
							<div class="input-box">
								<label for="lastname">Nom de famille</label>
								<input name="lastname" type="text" required>
							</div>
						</div>
						
						<div class="form-row">
							<div class="input-box">
								<label for="email">Email</label>
								<input name="email" type="email" required>
							</div>
							<div class="input-box">
								<label for="phone">Téléphone</label>
								<input name="phone" type="tel" required>
							</div>
						</div>
						<div class="form-row">
							<div class="input-box">
								<label for="password">Mot de passe</label>
								<input name="password" type="password" required>
							</div>
						</div>
						
						<div class="form-row">
							<div class="input-box">
								<input type="submit" value="Ajouter">
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- DETAILS OVERLAY -->
			<div class="details-overlay overlay-box">
				<div class="details-box">
					<div class="container-header">
						<h1>Infos utilisateurs</h1>
						<button class="overlay-closer"></button>
					</div>
					<div class="details-container">
						<div class="details-row">
							<p>Nombre d'administrateurs</p>
							<hr>
							<span class="admins-number">0</span>
						</div>
						<div class="details-row">
							<p>Nombre de gestionnaires</p>
							<hr>
							<span class="managers-number">0</span>
						</div>
						<div class="details-row">
							<p>Nombre de formateurs</p>
							<hr>
							<span class="formers-number">0</span>
						</div>
						<div class="details-row">
							<p>Nombre de stagiaires</p>
							<hr>
							<span class="interns-number">0</span>
						</div>
						<div class="details-row">
							<p>Total d'utilisateurs</p>
							<hr>
							<span class="users-number">0</span>
						</div>
					</div>
				</div>
			</div>

			<!-- EDIT OVERLAY -->
			<div class="edit-overlay overlay-box">
				<div class="container-header">
					<h1>Modifier un utilisateur</h1>
					<button class="overlay-closer"></button>
				</div>
				<form>
					<div class="container-body">
						<div class="form-row">
							<div class="input-box">
								<label for="username">Nom d'utilisateur</label>
								<input class="username" name="username" type="text">
							</div>
						</div>
						<div class="form-row">
							<div class="input-box">
								<label for="role">Role</label>
								<select class="role" name="role">
									<option value="1">Admin</option>
									<option value="2">Gestionnaire</option>
									<option value="3">Formateur</option>
									<option value="4" selected>Stagiaire</option>
								</select>
							</div>
						</div>
						
						<div class="form-row">
							<div class="input-box">
								<label for="firstname">Prénom</label>
								<input class="firstname" name="firstname" type="text">
							</div>
							<div class="input-box">
								<label for="lastname">Nom de famille</label>
								<input class="lastname" name="lastname" type="text">
							</div>
						</div>
						
						<div class="form-row">
							<div class="input-box">
								<label for="email">Email</label>
								<input class="email" name="email" type="email">
							</div>
							<div class="input-box">
								<label for="phone">Téléphone</label>
								<input class="phone" name="phone" type="tel">
							</div>
						</div>
						<div class="form-row">
							<div class="input-box">
								<label for="password">Mot de passe</label>
								<input class="password" name="password" type="password">
							</div>
						</div>
						
						<div class="form-row">
							<div class="input-box">
								<input type="submit" value="Modifier">
							</div>
						</div>
					</div>
				</form>
			</div>

			<!-- DELETE OVERLAY -->
			<div class="delete-overlay overlay-box">
				<div class="container-header">
					<h1>Supprimer un utilisateur</h1>
					<button class="overlay-closer"></button>
				</div>
				<div>
					<div class="container-body">
						<div class="form-row">
							<p class="delete-query"></p>
						</div>
						
						<div class="form-row delete-btn-box">
							<div class="input-box">
								<input class="cancel-delete-btn overlay-closer" type="submit" value="Annuler">
							</div>
							<div class="input-box">
								<input class="delete-btn" type="submit" value="Supprimer">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="users-section">
			<div class="overlay-toggle-panel">
				<button id="details-overlay-btn"></button>
				<button id="insert-overlay-btn"><img src="/img/plus.svg" alt="+">Ajouter</button>
			</div>
			<div class="line-row">
				<div class="filter-params">
					<div class="search-box">
						<input type="search" class="search" name="search" placeholder="Rechercher...">
						<img src="/img/search.svg" alt="">
					</div>
					<select class="order-select order-property" name="property">
						<option value="created_at" selected>Date de création</option>
						<option value="updated_at">Date de modification</option>
						<option value="username">Nom d'utilisateur</option>
						<option value="firstname">Prénom</option>
						<option value="lastname">Nom de famille</option>
						<option value="email">Email</option>
					</select>
					<select class="order-select order-ascending" name="ascending">
						<option value="true">Croissant</option>
						<option value="false" selected>Décroissant</option>
					</select>
					<div class="show-actives-box">
						<input class="show-actives" name="show-actives" type="checkbox">
						<label for="show-actives">Masquer comptes inactifs</label>
					</div>
				</div>
			</div>
			<div class="line-row">
				<ul class="quick-nav">
					<li><a href="#admin"><img src="img/anchor.svg">Administrateurs</a></li>
					<li><a href="#manager"><img src="img/anchor.svg">Gestionnaires</a></li>
					<li><a href="#former"><img src="img/anchor.svg">Formateurs</a></li>
					<li><a href="#intern"><img src="img/anchor.svg">Stagiaires</a></li>
				</ul>
			</div>
			<section id="users-container">
				<!-- GENERATED BY JS -->
			</section>
		</section>
    </main>
	<footer></footer>
	<script type="module" src="js/users.js"></script>
</body>
</html>