/* - - - Overlay togglers - - - */

.overlay-toggle-panel {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 10rem;
}

/* Insert button */
#insert-overlay-btn {
	display: flex;
	align-items: center;
	margin: .8rem 1.2rem;
	padding: .8rem 1.2rem;
	color: var(--color-bg);
	border: none;
	border-radius: .4rem;
	background-color: var(--color-insert);
}
#insert-overlay-btn:hover {
	background-color : var(--color-insert-hover);
}
#insert-overlay-btn img {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: .8rem;
	object-fit: contain;
}

/* details button */
#details-overlay-btn {
	display: flex;
	align-items: center;
	border: none;
	border-radius: .4rem;
	margin: .8rem;
	min-width: 3.2rem;
	background-color: transparent;
	background-image: url('/img/sheet.svg');
	background-position: center;
	background-size: 2.4rem;
	background-repeat: no-repeat;
	filter: brightness(var(--sheet-brightness));
	transition: filter .1s ease-out;
}
#details-overlay-btn:hover {
	filter: brightness(var(--sheet-brightness-hover));
}

/* - - - Overlay parts - - - */
.overlay {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	left: calc(var(--navbar-size) * 4);
	bottom: 0;
	background-color: transparent;
	z-index: 99;
}
.overlay-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #29292988;
	backdrop-filter: blur(8px);
}

.overlay-box {
	position: absolute;
	display: flex;
	max-height: 100%;
	overflow-y: hidden;
}

.overlay-box > form {
	overflow: hidden;
}

.insert-overlay form {
	display: flex;
	flex-direction: column;
}

/* Overlay boxes */
.overlay-box .container-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
button.overlay-closer {
	width: 2.4rem;
	height: 2.4rem;
	border: none;
	margin-left: .8rem;
	background-image: url('/img/plus.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(45deg);
}

.insert-overlay,
.edit-overlay,
.delete-overlay {
	display: flex;
	flex-direction: column;
	max-width: 48rem;
	border-radius: .8rem;
	box-shadow: .4rem .4rem .8rem #29292933;
	overflow: hidden;
}
.overlay-box .container-header {
	padding: .8rem 1.2rem;
}
.overlay-box .container-header h1 {
	text-align: center;
	color: var(--color-bg);
}

/* Specific design for insert-overlay */
.insert-overlay .container-header,
.insert-overlay input[type="submit"] {
	background-color: var(--color-insert);
}
.insert-overlay input[type="submit"]:hover {
	background-color: var(--color-insert-hover);
}
.insert-overlay label {
	color: var(--color-insert);
}

/* Specific design for details overlay */
.details-overlay {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg);
	margin: 1.2rem;
	border-radius: .8rem;
	box-shadow: .4rem .4rem .8rem var(--color-box-shadow);
	overflow: hidden;
}
.details-overlay .container-header {
	display: flex;
	justify-content: space-between;
	padding: .8rem 1.2rem;
	background-color: var(--color-details);
}
.details-overlay h1 {
	text-align: center;
	color: var(--color-bg);
	margin-right: 2.4rem;
}
.details-overlay .container-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 0;
}
.details-overlay .container-body .details-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .8rem .4rem;
}
.details-overlay .container-body .details-row.darkened {
	background-color: var(--color-bg-alt);
}

.details-overlay .container-body .details-row p,
.details-overlay .container-body .details-row span {
	color: var(--color-details);
	padding: .8rem;
}
.details-overlay .container-body .details-row hr {
	background-color: none;
	border: solid .8rem none dotted;
	border-style: none none dotted;
	color: var(--color-details);
	display: flex;
	flex-grow: 1;
}

/* Specific design for edit-overlay */
.edit-overlay .container-header,
.edit-overlay input[type="submit"] {
	background-color: var(--color-edit);
}
.edit-overlay input[type="submit"]:hover {
	background-color: var(--color-edit-hover);
}
.edit-overlay .input-box label {
	color: var(--color-edit);
}

/* Specific design for delete-overlay */
.delete-overlay .delete-btn-box {
	justify-content: flex-end;
}
.delete-overlay .delete-btn-box .input-box {
	flex-grow: inherit;
}
.delete-overlay .cancel-delete-btn {
	color: var(--color-delete);
	background-color: transparent;
	border: none;
}
.delete-overlay .cancel-delete-btn:hover {
	color: var(--color-bg);
	border: none;
	background-color: var(--color-delete-hover);
}
.delete-overlay .delete-query {
	padding: .8rem 1.2rem;
	color: var(--color-delete);
}
.delete-overlay .delete-info {
	padding: .8rem 1.2rem;
	color: var(--color-delete);
	font-weight: bold;
}
.delete-overlay .container-header,
.delete-overlay .delete-btn {
	color: var(--color-bg);
	background-color: var(--color-delete);
	border: none;
}
.delete-overlay .delete-btn:hover {
	background-color: var(--color-delete-hover);
}

.container-body {
	display: flex;
	flex-direction: column;
	background-color: var(--color-bg);
	padding: .8rem;
	overflow-y: scroll;
}

/* - - - Form content styling - - - */
.form-row {
	display: flex;
	width: 100%;
}
.input-box {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: .8rem;
}
.input-box > label {
	margin-bottom: .4rem;
	width: max-content;
}
.input-box input,
.input-box select {
	display: flex;
	color: var(--color-text);
	background-color: var(--color-bg);
	border: solid .5px var(--color-input-border);
	border-radius: .4rem;
	padding: .8rem;
}
.input-box input[type="text"] {
	flex: 1;
}

/* .input-box .correct-btn {
	appearance: none;
	display: none;
}
.input-box .correct-label {
	display: flex;
	width: 3.2rem;
	height: 3.2rem;
	padding: .8rem;
	border-radius: .4rem;
	margin-right: .8rem;
	background-color: var(--color-bg-alt2);
	background-image: url('/img/cross.svg');
	background-color: inherit;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	transition: background-color .1s ease-out;
}
.input-box input[type="radio"]:checked + label {
	background-color: var(--color-insert);
	background-image: url('/img/checked.svg');
	transition: 0.3s;
} */

.input-box input[type="radio"] {
	appearance: none;
	display: none;
}

.input-box .correct-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	padding: .8rem;
	border: none;
	border-radius: .4rem;
	margin-right: .8rem;
	background-color: var(--color-bg-alt);
	mask: url('/img/checked.svg') no-repeat center / contain;
	color: var(--color-bg);
	font-weight: bolder;
	cursor: pointer;
	transition: background-color .1s ease-out;
}

.input-box input[type="radio"]:checked + label {
	background-color: var(--color-insert);
	mask: url('/img/checked.svg') no-repeat center / contain;
	font-weight: 900;
	transition: 0.3s;
}

.input-box select {
	transition: background-color .1s ease-out;
	cursor: pointer;
}
.input-box select:hover {
	background-color: var(--color-bg-alt);
}

.input-box input[type="submit"] {
	margin-top: 1.6rem;
	padding: .8rem 1.6rem;
	margin: auto;
	width: fit-content;
	transition: background-color .1s ease-out;
}

.insert-overlay input[type="submit"],
.edit-overlay input[type="submit"] {
	border: none;
	color: var(--color-bg);
}

.checkbox-box {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	padding: .8rem;
}

.checkbox-box label {
	margin-left: .8rem;
}
.checkbox-box input[type="checkbox"] {
	width: 2.4rem;
	height: 2.4rem;
	cursor: pointer;
}

/* - - - THEMES & EXAMINATIONS EXCLUSIVES - - - */
.overlay-box textarea {
	padding: .8rem;
	border: solid 1px var(--color-bg-alt2);
	border-radius: .4rem;
	resize: none;
	min-height: 2.4rem;
}

.overlay-box .removable-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .8rem;
}
.overlay-box .removable-row select {
	display: flex;
	flex-grow: 1;
}
.insert-overlay .removable-row select,
.insert-overlay .removable-row select option {
	color: var(--color-insert);
}

.overlay-box .remove-removable {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3.2rem;
	height: 3.2rem;
	padding: .8rem;
	border: none;
	border-radius: .4rem;
	margin-left: .8rem;
	background-color: var(--color-delete);
	color: var(--color-bg);
	font-weight: bolder;
	cursor: pointer;
	transition: background-color .1s ease-out;
}
.overlay-box .removable-row .remove-charged:hover {
	background-color: var(--color-delete-hover)
}

.overlay-box .dotted-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .8rem;
	color: var(--color-insert);
	font-weight: bolder;
	cursor: pointer;
	transition: background-color .1s ease-out;
}
.overlay-box .dotted-btn:hover {
	background-color: var(--color-bg-alt);
}
.insert-overlay .dotted-btn {
	border: dotted 2px var(--color-insert);
}
.edit-overlay .dotted-btn {
	border: dotted 2px var(--color-edit);
}

input:disabled {
	opacity: .5;
}

@media screen and (max-width: 680px) {
	.overlay {
		left: var(--navbar-size);
	}

	.form-row {
		flex-direction: column;
	}
	.overlay-box {
		max-width: inherit;
		height: 100%;
		width: 100%;
		border-radius: 0;
		overflow-y: scroll;
	}
	.overlay-box .container-header h1 {
		font-size: 2rem;
	}

	.removable-row {
		width: 100%;
	}
	.removable-row .removable {
		width: calc(100% - 6.4rem);
	}

	.removable input[type="text"] {
		display: flex;
		flex: 1;
	}

	.insert-overlay form,
	.edit-overlay form,
	.delete-overlay form {
		width: 100%;
		flex-grow: 1;
		justify-content: flex-start;
	}
	.insert-overlay .container-body,
	.edit-overlay .container-body,
	.delete-overlay .container-body {
		flex-grow: 1;
		justify-content: flex-start;
	}

	.removable-row .fullname {
		display: none;
		visibility: hidden;
	}

	.delete-query {
		text-align: center;
	}
	.delete-info {
		text-align: center;
	}

	.delete-overlay .delete-btn-box {
		flex-direction: row;
		justify-content: space-around;
	}

	.insert-overlay input[type="submit"],
	.edit-overlay input[type="submit"],
	.delete-overlay input[type="submit"] {
		justify-content: center;
		width: 100%;
	}
}

/* --- Exam Page - Insert question form --- */

.question-overlay .input-box {
	max-width: 100%;
}

.question-overview {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: .8rem;
	border-radius: .4rem;
	background-color: var(--color-bg-alt);
}

.question-overview .question-title {
	margin: .8rem;
	color: var(--color-text);
}
.question-overview .question-correction {
	display: flex;
	margin: .8rem;
	color: var(--color-insert);
}
.question-overview .question-correction .head {
	font-weight: bold;
	margin-right: .8rem;
}
.question-overview hr {
	margin: .8rem;
	height: .1rem;
	background-color: var(--color-bg-alt2);
	border: none;
}
.question-overview .question-responses {
	margin: .8rem;
}